streamlit==1.38.0
python-dotenv==1.0.1
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.11
langchain-google-genai==1.0.3
google-generativeai==0.8.3
faiss-cpu==1.8.0.post1
sentence-transformers==3.0.1
torch==2.4.1
numpy==1.26.4
pandas==2.2.3
tqdm==4.66.4
typing-extensions==4.12.2
protobuf==4.25.3
requests==2.32.3
